# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
dist/
build/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# C / eBPF / Binaries
*.o
*.elf
*.bin
testdata/*_production
testdata/vantage_dummy_fw

# IDEs / OS
.vscode/
.idea/
.DS_Store
